@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-family: "Montserrat", sans-serif;
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
}

.container {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.card {
	width: 37rem;
	height: auto;
	border: 1px solid #eee;
	border-radius: 6px;
	box-shadow: 0px 8px 15px 0px #1414141f;
	padding: 1rem 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// checkbox
.page-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.9rem 2.2rem;

	& .checkbox {
		appearance: none;
		-webkit-appearance: none;
		width: 2.3rem;
		height: 2.3rem;
		border-radius: 6px;
		border: 1px solid rgba(#cdcdcd, 0.6);
		cursor: pointer;
		position: relative;

		&:after {
			content: "";
			width: 100%;
			height: 100%;
			background-image: url("data:image/svg+xml,%3Csvg width='15.64' height='11.04' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 7.1L6.53451 12.4672C6.55497 12.4854 6.58626 12.4837 6.6047 12.4635L17.5 0.5' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0);
		}

		&:hover {
			border: 1px solid #bdbdbd;

			&:checked {
				background-color: #5087f8;
				border-color: #5087f8;
			}

			&:not(:checked)::after {
				background-image: url("data:image/svg+xml,%3Csvg width='15.64' height='11.04' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 7.1L6.53451 12.4672C6.55497 12.4854 6.58626 12.4837 6.6047 12.4635L17.5 0.5' stroke='%23e3e3e3' stroke-linecap='round'/%3E%3C/svg%3E");
				transform: translate(-50%, -50%) scale(1);
			}
		}

		&:active {
			outline: 3px solid rgba(#2469f6, 0.1);

			&:checked {
				outline: 3px solid rgba(#2469f6, 0.1);
			}

			&:not(:checked)::after {
				background-image: url("data:image/svg+xml,%3Csvg width='15.64' height='11.04' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 7.1L6.53451 12.4672C6.55497 12.4854 6.58626 12.4837 6.6047 12.4635L17.5 0.5' stroke='%23878787' stroke-linecap='round'/%3E%3C/svg%3E");
			}
		}

		&:checked {
			background: #2469f6;
			border-color: #2469f6;

			&::after {
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}

	& .page-label {
		font-size: 1.4rem;
	}
}

// button
.button-container {
	padding: 1rem 1.5rem;

	& .btn {
		background-color: #ffce22;
		font-size: 1.4rem;
		width: 100%;
		padding: 1.1rem 0;
		border: none;
		border-radius: 4px;
		font-family: inherit;
		cursor: pointer;

		&:hover {
			background-color: #ffd84d;
		}

		&:active {
			background-color: #ffce22;
		}
	}
}

.divider {
	padding: 1rem 1.5rem;

	& hr {
		border: 0;
		height: 0.7px;
		background-color: #cdcdcd;
	}
}

.toast {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	bottom: 5rem;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	padding: 1rem 2rem;
	border-radius: 4px;
	font-size: 1.5rem;
	letter-spacing: 1.5px;

	& .icon {
		height: 2.4rem;
		width: 2.4rem;
	}
}

.success {
	background-color: #4bb543;
}

.error {
	background-color: #ff3333;
}
